.gradle
.idea
build
**/*.iml
gradle.properties
.classpath
.project
.settings
client/.classpath
client/.gitignore
server/.gitignore
server/logs
logs
/bin/
/example-ssp/bin
.DS_Store
/lib-data-delivery/bin
/lib-data-delivery/src/generated
